*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: rgb(212, 234, 241);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(240, 255, 255, 0.482);

}

header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 4px solid green;
    }
h2 {
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    font-size: 2.5rem;
    font-weight: 500;
}


ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

ul li {
    list-style: none;
    
}

li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 5px;
    transition: border 1s ease-in-out;

}

a:hover{
    border-bottom: 3px solid rgb(141, 163, 141);
}

nav{
    background-color: rgba(233, 150, 122, 0.345);
}

.element1{
    padding: 2rem; 
    background-color: rgba(245, 245, 220, 0.317);  
}
.element2{
    padding: 2rem; 
    background-color: rgba(255, 228, 196, 0.463);  
}

.element{
    font-size: 3rem;
    font-weight: 400;
}

.define{
    font-size: 2rem;
    padding-left: 2rem;
}